#area {
    position: absolute;
    width: 800px;
    height: 500px;
    border: 1px solid black;
}

.rectangle {
    width: 100px;
    height: 100px;
    background-color: red;
    border: 2px solid black;
    margin: 10px;
}
